body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    color: #ffdf6c;
}

input, button {
    padding: 12px;
    margin: 8px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background: #ffdf6c;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ffc300;
}
