body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header p {
    font-size: 20px;
    color: #ffdf6c;
}

input, button {
    padding: 12px;
    margin: 8px;
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background: #ffdf6c;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ffc300;
}

.page-section {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

/* Form Styling */
input {
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #00b894;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 6px;
}
button:hover {
    background: #019873;
}

select {
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
}


